.card {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 16px;
    margin-top: 10px;
  }
  