.res-1{
    text-shadow:rgb(192, 191, 191) 2px 2px ;
    font-size: 30px;
    text-align: center;
    border: 0px;
    border-style: groove;
    margin-left: 30px;
    margin-right: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 15px 10px rgba(0, 0, 0, 0.19); */
    padding-bottom: 20px;
    padding-top: 20px;
}
.res-2{
    text-shadow:rgb(192, 191, 191) 2px 2px ;
    font-size: 30px;
    text-align: center;
    border: 0px;
    border-style: groove;
    margin-left: 30px;
    margin-right: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 15px 10px rgba(0, 0, 0, 0.19); */
    padding-bottom: 20px;
    padding-top: 20px;
}